<style>
.title-align{
  display: flex;
  justify-content: center;
}

#but-align{
  margin-left: 0.5em;
}
.form-sec{
  margin-left: 1em;
}

.form-box{
    margin: 0.3em;
    height: 3em;
    border-radius: 0.3em;
    padding-left: 1em;
    border-color: #7599c3;
    margin-top: -0.1em;
    border-width: 3px;
}

label{
  font-size: small;
  color: #002b5b;
  font-style: italic;
  padding-left: 0.5em;
  margin-top: 0.8em;
}

.butt-align{
  display: flex;
  justify-content: center;
}

.button-style{
  width: 8em;
  margin-top: 1.5em;
  height: 2.5em;
  background-color: #002b5b;
  border-radius: 0.5em;
  color: aliceblue;
}



</style>
    {{#each abc}}
<script>
        

        function submit(){
let form = document.querySelector("form");
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            document.querySelector("#sub").value = "Submiting..";
            let data = new FormData(form);
        fetch('https://script.google.com/macros/s/AKfycbzjKLsNY0z1b58LstXVy4yJlkvi4bQob9chDNHsvxnPI4XfrgeX7gmV_DfKyadU1CZ8HQ/exec', {
                    method: "POST",
                    body: data
                })
                .then(res => res.text())
                .then(data => {
                    document.querySelector("#msg").innerHTML = data;
                    document.querySelector("#sub").value = "Submit"
                });
        })
        }
    </script>
<div>

    <p class="head">Registration Here</p>
    <h4 class="title-align"><b>{{{title}}}</b></h4>
    <div class="form-align">


    <form>
    <h1 id="msg"></h1>
      
      <label>Name</label><br>
      <input type="text" name="name" placeholder="name" class="form-box" required><br>

      <label>Email</label><br>
        <input type="email" name="email" placeholder="mail" class="form-box" required><br>
      
       <label for="phone">Phone number</label><br>
      <input type="tel" name="phn" placeholder="phn" class="form-box" placeholder="Phone no."> <br>
     
      <label>college</label><br>
      <input type="text" name="college" placeholder="college" class="form-box" placeholder="JCET" required><br>
      
      <label>Branch</label><br>
      <input type="text" name="branch" class="form-box" placeholder="Branch" required><br>

      <label>year</label><br>
      <input type="text" name="year" placeholder="year" class="form-box" required><br>

<br><br>
<label>Event</label><br>
      <input type="text" class="form-box" name="eventname" value="{{{title}}}" readonly><br>
    <label>Amount</label><br>
      <input type="text" class="form-box" name="eventname" value="{{{fee1}}}" readonly><br>
    
  <div class="butt-align">   <button onclick="submit()">submit</button></div>
    </form>
    </div>
  {{/each}}
</div>

